# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/
*.code-workspace

# Misc
.DS_Store
Thumbs.db